body{
    background: url("/resources/img/banner.png");
    background-size:cover;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.btn-start{
    /*background: url(images/kalambur_pasive.png) no-repeat;*/
    background: #E85351;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50%;

    text-align: center;
    line-height: 150px;
    border: 5px solid #421819;

}

.btn-start:hover{
    transform: translate(0%,0%);
    animation-name: jump;
    animation-duration: .8s;
    animation-iteration-count: 1;
    
}
@keyframes  jump{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-10px);
    }
    40%{
        transform: translateY(10px);
    }
    60%{
        transform: translateY(-10px);
    }
    80%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.w-60{
    width: 60%;
}
.h-60{
    height: 60%;
}
.hg-150{
    height: 150px;
}
.wd-150{
    width: 150px;
}

.fa{
    font-size: 40px;
}








/*MEDIA*/

@media only screen and (max-width : 767px) {

    .wd-150{
        width: 120px;
    }
    .hg-150{
        height: 120px;
    }
}

@media only screen and (max-width : 576px) {

    .wd-150{
        width: 75px;
    }
    .hg-150{
        height: 75px;
    }
}
